<link rel="stylesheet" href="/styles.css">

<nav class="headNav">
  <ul>
      <li>
        <a href="/">Home</a>
        <a href="/create">New User</a>
        <a href="/search">Search</a>
      </li>
  </ul>
</nav>